<div class="login-background">

    <form method="post" action="/" class="login light-alpha-bg">
        <h1>Welcome to Blocks!</h1>
        <div class="login-field">
            <input name="username" type="text" class="login-input" placeholder="admin@example.com">
        </div>
        <div class="login-field">
            <input name="password" type="password" class="login-input" placeholder="HopefullyASecurePassword">
        </div>
        <button type="submit" class="button login-submit light-alpha-bg">
            Log In Now
        </button>
    </form>
</div>